{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
    {% endfor %}
    
<h2>add matricula</h2>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.id.label(class="form-label") }}
        {{ form.id(class="form-control") }}
        <br/>
        {{ form.codigoCurso.label(class="form-label") }}
        {{ form.codigoCurso(class="no-style") }}
        <br/>
        {{ form.codigoCarrera.label(class="form-label") }}
        {{ form.codigoCarrera(class="no-style") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

<br>

<h2>User List</h2>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Curso</th>
            <th>Carrera</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for our_matriculas in our_matriculas %}
        <tr>
            <td>{{ our_matriculas.id }}</td>
            <td>{{ our_matriculas.codigoCurso }}</td>
            <td>{{ our_matriculas.codigoCarrera }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('update_user', id = our_user.id) }}">Update</a>
                <a class="btn btn-danger" href="{{ url_for('delete_user', id = our_user.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}